body, .window {
  background-color: #999ace;
  font: 18pt sans-serif;
  color: #393939;
}
button:focus {
  outline: none;
}
.game {
  
}
.title {
  font-size: 60px;
  margin-top: 20px;
  text-shadow: 2px 1px 2px #558ABB;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.status {
  background-color: #cccfff;
  border: 2px solid #55a;
  border-radius: 20px;
  padding: 5px 10px;
  width: 300px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 1px #aaa;
}
.board, .column, .slot, .window{
  background-color: #fff555;
  border: none;
}
.board {
  height: 430px;
  width: 500px;
  padding:20px;
  clear: both;
  /*content: "";
  display: table;*/
}

.column {
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 420px;
  padding: 0;
  text-align: center;
  width: 70px;
}

/*.column:hover {
  cursor: pointer;
}*/

.slot {
  float: left;
  margin-top: -1px;
  margin-right: -1px;
  padding: 0;
  width: 70px;
  height: 70px;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  text-align: center;
  align-content: center;
  clear: left;
  cursor: pointer;
}

.window {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  margin-top: 10px;
  margin-left: 10px;
  box-shadow: 5px;
  background-image: radial-gradient(farthest-corner at -70px -40px,
      #000 0%, #aaafff 100%);
}

/*.window:hover{
  background-image: radial-gradient(farthest-corner at -70px -40px,
      #444 0%, #999fff 100%);
  cursor: pointer;
}*/

.blue{
  background-image: none;
  background-color: blue;
}

.red {
  background-image: none;
  background-color: red;
}