body, .window, input {
  background-color: #999ace;
  font: 18pt sans-serif;
  color: #393939;
  width: 100%;
}
button:focus, input:focus {
  outline: none;
}
button:hover, .add:hover{
  cursor: pointer;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.game {
  background-color: #cccfff;
  border: 2px solid #55a;
  border-radius: 20px;
  padding: 5px 10px;
  margin-bottom: 10px;
}
input {
  background: #987;
  text-align: center;
  width: 90%;
  border: none;
  caret-color: #543;
}
.button {
  border: 1px solid #050;
  border-radius: 7px;
  background: linear-gradient(to bottom, #0b0, #090, #070);
  box-shadow: .5px .5px 1px #333;
  color: #fff;
  font: bold 18px sans-serif;
  text-shadow: 0 0 2px #000, 1px 1px 1px #333;
  padding: 6px 10px 6px 10px;
  margin: 5px 10px;
}
.button:active {
  background: #080;
}
.buttons {
  margin: 20px;
  flex-direction: row;
  justify-content: space-evenly;
  background: none;
  border: none;
}
.title {
  font-size: 60px;
  margin-top: 10px;
  margin-bottom: 30px;
  text-shadow: 2px 1px 2px #558ABB;
  /*color: #234;
  text-shadow:1px 1px 6px #333ace;*/
  /*color: #fff555;
  text-shadow: 1px 1px 2px #f55, -1px 1px 2px #f55, 1px -1px 2px #f55, -1px -1px 2px #f55, 1px 1px 6px blue;*/
}
.status {
  width: 300px;
  text-shadow: 1px 1px 1px #aaa;
}
.board, .column, .slot, .window{
  background-color: #fff555;
  border: none;
}
.board {
  height: 430px;
  width: 500px;
  padding:20px;
  clear: both;
  margin: 10px;
}

.column {
  float: left;
  height: 420px;
  padding: 0;
  text-align: center;
  width: 70px;
}

.slot {
  float: left;
  margin-top: -1px;
  margin-right: -1px;
  padding: 0;
  width: 70px;
  height: 70px;
  align-content: center;
  clear: left;
}

.window {
  border-radius: 50%;
  position: absolute;
  width: 55px;
  height: 55px;
  margin-top: 10px;
  margin-left: 10px;
  box-shadow: 5px;
  background: radial-gradient(farthest-corner at -70px -40px, #000 0%, #aaafff 100%);
}

/* --- piece animation --- */

/*@keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
}*/
.piece {
  width: 65px;
  height: 65px;
  margin-top: -5px;
  margin-left: -5px;
  border-radius: 50%;
  position: relative;
  -webkit-animation-name: mymove; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
  /*-webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */*/
  animation-name: mymove;
  animation-duration: 4s;
  animation-iteration-count: 1;
  /*animation-direction: alternate;*/
  object-fit: cover;
  }

/* --- end piece animation --- */

/* --- Panel --- */
.panels {
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin: 20px 10px 30px 10px;
}
.panel {
  background: #987;
  border: 5px solid #543;
  border-radius: 15px;
  width: 125px;
  height: 150px;
  justify-content: space-evenly;

}
p {
  margin: 15px;
}
.add {
  font: 18pt sans-serif;
  color: #543;
  text-shadow: none;
  padding: 0;
  margin: 0;
  line-height: 0px;
  justify-content: center;
}
.add:active {
  background: #765;
}
.delete {
  border: 1px solid #600;
  margin-bottom: -50px;
  right: -53.5px;
  top: -29.5px;
  position: relative;
  background: linear-gradient(to bottom, #e00, #c00, #a00);
  color: white;
  font-size: 18px;
  /*font-weight: normal;*/
  padding: 1px 8px 4px 8px;
  box-shadow: 0px 0px 1px #333;
}
.delete:active {
  background: #900;
}
.hide {
  visibility: hidden;
}
.show {
  visibility: visible;
}
/* --- Palette --- */
.palette {
  background: #987;
  border: 5px solid #543;
  border-radius: 15px;
  width: 600px;
  height: 100px;
  padding: 0 20px;
  flex-direction: row;
  justify-content: space-between;
}

/* --- Swatch colors --- */
.swatch {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 5px solid #543;
  background: #876
}

.fade {
  opacity: .4;
}

.blue{
  background: blue;
}

.red {
  background: red;
}

.green{
  background: green;
}

.orange {
  background: #f70;
}

.purple{
  background: purple;
}

.black {
  background: black;
}

.white {
  background: white;
}

.cyan {
  background: #0ff;
}

