body, .window {
  background-color: #999ace;
  font: 18pt sans-serif;
  color: #393939;
  width: 100%;
}
button:focus {
  outline: none;
}
button:hover {
  cursor: pointer;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.game {
  background-color: #cccfff;
  border: 2px solid #55a;
  border-radius: 20px;
  padding: 5px 10px;
  margin-bottom: 10px;
}
.button {
  border: 1px solid #050;
  border-radius: 7px;
  background: linear-gradient(to bottom, #0b0, #090, #070);
  box-shadow: 0px .5px 1px #333;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 1px #030;
  padding: 5px 10px 7px 10px;
  margin: 5px 10px;
}
.button:active {
  background: #080;
}
.buttons {
  flex-direction: row;
  justify-content: space-evenly;
  background: none;
  border: none;
}
.title {
  font-size: 60px;
  margin-top: 10px;
  margin-bottom: 30px;
  text-shadow: 2px 1px 2px #558ABB;
}
.status {
  width: 300px;
  text-shadow: 1px 1px 1px #aaa;
}
.board, .column, .slot, .window{
  background-color: #fff555;
  border: none;
}
.board {
  height: 430px;
  width: 500px;
  padding:20px;
  clear: both;
  margin: 10px;
}

.column {
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 420px;
  padding: 0;
  text-align: center;
  width: 70px;
}

.slot {
  float: left;
  margin-top: -1px;
  margin-right: -1px;
  padding: 0;
  width: 70px;
  height: 70px;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  text-align: center;
  align-content: center;
  clear: left;
}

.window {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  margin-top: 10px;
  margin-left: 10px;
  box-shadow: 5px;
  background: radial-gradient(farthest-corner at -70px -40px, #000 0%, #aaafff 100%);
}

/* --- Panel --- */
.panels {
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin: 20px 10px 30px 10px;
}
.panel {
  background: #987;
  border: 5px solid #543;
  border-radius: 15px;
  width: 125px;
  height: 150px;
  justify-content: space-evenly;
}

/* --- Palette --- */
.palette {
  background: #987;
  border: 5px solid #543;
  border-radius: 15px;
  width: 600px;
  height: 100px;
  padding: 0 20px;
  flex-direction: row;
  justify-content: space-between;
}


/* --- Swatch colors --- */
.swatch {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 5px solid #543;
}
.blue{
  background: blue;
}

.red {
  background: red;
}

.green{
  background: green;
}

.orange {
  background: #f60;
}

.purple{
  background: purple;
}

.black {
  background: black;
}

.white {
  background: white;
}

.cyan {
  background: #0ff;
}
